<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MusicDB.Properties.Settings.ConnectionString" connectionString="Server=H0LAS\SQLEXPRESS;Database=Users;Trusted_Connection=yes;" />
    </connectionStrings>
</configuration>